{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('login_discord') }}">Connexion à discord</a>
    </div>
{% endblock %}
