{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <h1>homepage</h1>
    <div>
        <a href="{{ path('login') }}">Page de connexion</a>
    </div>
{% endblock %}
